# Pandora Technical Solution

In [86]:
#Libraries 
import pandas as pd #useful for working with dataframes 
from datetime import datetime # used for formating date datatypes 
from sqlalchemy import create_engine #used to create engines that connect to sqlalchemy
from sqlalchemy import exc # used to access the exception functions in sqlalchemy

## Setup

In [61]:
#Tracking 

#files 
logfile = "logfile.txt"   # all event logs will be stored in this file


def logging_message (Message):
    timestamp= datetime.now().strftime("%d-%m-%Y-%H:%M:%S")#strftime method is used to convert the now timestamp into our desired format
    with open("logfile.txt","a") as f:
        f.write( Message +" " + timestamp+ '\n')

In [62]:
logging_message("Katrina Handling ETL Pipeline for Sales Department")

## Data Extraction

In [63]:
logging_message("Data Extraction Phase Began at ")

In [79]:
dataset = pd.read_csv(r"C:\Users\katri\OneDrive\Desktop\Data practice\Pandora Case\Jewellery Customer Segmentation Analysis Personas.csv")

## Data Transformation

In [65]:
logging_message("Data Transformation Phase Began at ")

In [80]:
dataset.head()

,CustomerID,Age,Gender,Location,ProductType,PurchaseCount,TotalSpend,AveragePurchaseValue,EngagementScore,FollowDuration,...,IsActive,MarketingSpend,ProductCost,SalesRevenue,CustomerAcquisitionDate,CustomerExitDate,CustomerRetentionPeriod,CPA,NumberOfTransactions,CompletionRate
0,1,56,Male,North America,Bracelet,9,737,81.888889,2.079020,24,...,True,85.052053,368.5,737,22/07/2020,NaN,24.300000,85.052053,9,0.6
1,2,46,Female,Middle East,Ring,3,334,111.333333,7.614333,18,...,True,87.253327,167.0,334,23/06/2021,NaN,24.200000,87.253327,3,0.6
2,3,32,Male,Asia,Ring,1,515,515.000000,5.783094,10,...,True,56.871368,257.5,515,29/08/2021,NaN,16.466667,56.871368,1,0.6
3,4,60,Other,North America,Bracelet,7,1037,148.142857,3.591508,7,...,True,86.957420,518.5,1037,27/05/2022,NaN,1.966667,86.957420,7,0.6
4,5,25,Male,Europe,Ring,5,598,119.600000,5.435376,8,...,False,96.423852,299.0,598,24/04/2022,27/05/2023,1.900000,96.423852,5,0.6

In [81]:
#dropping unnecessary columns 
cleaned_dataset= dataset.drop(columns = ["EngagementScore","FollowDuration","IsActive","MarketingSpend","PreferredChannel","CustomerAcquisitionDate","CustomerCost","CPA","CustomerExitDate","CustomerRetentionPeriod","CLTV","CustomerAcquisitionDate","CustomerProfitabilityScore", "ROAS","RFMScore","AverageRFM","Persona"])

In [82]:
#checking if the data has the right datatype 
cleaned_dataset.dtypes

CustomerID                 int64
Age                        int64
Gender                    object
Location                  object
ProductType               object
PurchaseCount              int64
TotalSpend                 int64
AveragePurchaseValue     float64
ROI                      float64
OperatingExpenses        float64
AdditionalCosts          float64
GrossProfit              float64
GrossProfitMargin          int64
OperatingProfit          float64
OperatingProfitMargin      int64
NetProfit                float64
NetProfitMargin            int64
LastPurchaseDate          object
SubscriptionStartDate     object
SubscriptionEndDate       object
ProductCost              float64
SalesRevenue               int64
NumberOfTransactions       int64
CompletionRate           float64
dtype: object

In [83]:
# Finding duplicate rows based on all columns
df = pd.DataFrame()
duplicate_rows = df[cleaned_dataset.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: []
Index: []

C:\Users\katri\AppData\Local\Temp\ipykernel_23548\617110998.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  duplicate_rows = df[cleaned_dataset.duplicated()]

In [84]:
# Finding rows with any null values
null_rows = df[cleaned_dataset.isnull().any(axis=0)]
print(null_rows)

Empty DataFrame
Columns: []
Index: []

C:\Users\katri\AppData\Local\Temp\ipykernel_23548\3891871350.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  null_rows = df[cleaned_dataset.isnull().any(axis=0)]

## Data Loading

In [70]:
logging_message("Data Loading Phase Began at ")

In [85]:
# MySQL connection string
username = 'rxxt'
password = 'xxxxxxxxxxxx'
host = 'localhost'
database = 'customer_segments'

try:
    # Creating the SQLAlchemy engine
    engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")
    
    # Testing the connection by trying to connect to the database
    connection = engine.connect()

    # Writing the cleaned DataFrame to a MySQL table
    cleaned_dataset.to_sql('cleaned_dataset', con=engine, if_exists='replace', index=False)

    print("Data successfully uploaded to MySQL!")

    # Closing the connection after the operation
    connection.close()
    
except exc.SQLAlchemyError as e:
    
    # Handling SQLAlchemy errors such as connection issues or SQL execution failures
    print(f"An error occurred while connecting to the database or uploading data: {e}")
    logging_message(f"Database error occurred: {e}")

Data successfully uploaded to MySQL!

In [72]:
logging_message("ETL Pipeline Completed at ")

## Resources

In [59]:
'''
references for library syntaxes

SQL Alchemy 
https://docs.sqlalchemy.org/en/20/
    
Pandas
https://pandas.pydata.org/docs/reference/frame.html

Datetime
https://docs.python.org/3/library/datetime.html#

'''

'\nreferences for library syntaxes\n\nSQL Alchemy \nhttps://docs.sqlalchemy.org/en/20/\n    \nPandas\nhttps://pandas.pydata.org/docs/reference/frame.html\n\nDatetime\nhttps://docs.python.org/3/library/datetime.html#\n\n'